<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">New game creator</h2>
            </div>
            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <div class="card card-nav-tabs text-center">
          <form [formGroup]="newGameForm" (ngSubmit)="createNewGame()">
            <div formGroupName="newGame" class="card-body">
              <h3 class="card-text">Select number of players</h3>
              <div class="d-flex justify-content-center row">
                <select [(ngModel)]='selected' required formControlName="numberOfPlayers">
                  <option *ngFor="let playerCount of playerCounts" [ngValue]="playerCount">
                    {{ playerCount }}
                  </option>
                </select>
              </div>
              <div class="d-flex justify-content-center" style="padding-top: 50px;">
                <button class=" btn btn-fill btn-info" type="submit">Generate game</button>
              </div>
            </div>
          </form>
          <div class="card-footer text-muted">
            You cannot change settings later.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

